{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
	<div class="container">
	
	<div class="intro-banner-wrap">
		<img src="media/images/banners/blackfriday.png" class="img-fluid rounded">
	</div>
	
	</div> <!-- container //  -->
	</section>

<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
{% if user.id is None or not user.is_admin %}
<div class="container">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">Ver Todo</a>
	<h3 class="section-title">Los más populares</h3>
</header><!-- sect-heading -->

<div class="row">
	{% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
            {% if product.is_available and product.stock %}
			<a href="{{ product.get_url }}" class="img-wrap"> 
                <img src="{{ product.images.url }}"> 
            </a>
            {% else %}
            <div class="img-wrap">
                <img src="{{ product.images.url }}">
                <div class="overlay">
                    <span class="badge badge-danger">No disponible</span>
                </div>
            </div>
            {% endif %}
			<figcaption class="info-wrap">
				<a href="{{ product.get_url }}" class="title">{{product.product_name}}</a>
				<div class="price mt-1">{{ product.price }}€ por dia</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div>
</div><!-- container // -->
{% endif %}
</section>
<!-- ========================= SECTION  END// ========================= -->

</body>
</html>

{% endblock %}
