{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">

    <!-- ============================ COMPONENTE PRINCIPAL ================================= -->
    {% if not cart_items %}
        <h3 class="text-center">¡Parece que no has agregado nada aún!</h3>
        <br>
        <div class="text-center">
            <a href="{% url 'store' %}" class="btn btn-primary">Ir al catálogo</a>
        </div>
    {% else %}
    <div class="row">  
        <aside class="col-lg-6">
            <!-- ============================ SECCIÓN CHECKOUT ================================= -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Paso 2: Completa tus Datos</h4>
                    <p class="text-muted">
                        Completa tu información personal para procesar tu pedido. ¿Ya tienes una cuenta? 
                        <a href="{% url 'login' %}?next={{ request.path }}" class="text-primary font-weight-bold">
                            Inicia sesión
                        </a>
                        para rellenar automáticamente tus datos.
                    </p>
                    <hr>
                    <form action="{% url 'place_order' %}" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="">Nombre(s)<span class="text-danger">*</span></label>
                                <input  
                                    type="text" 
                                    name="first_name" 
                                    class="form-control" 
                                    value="{% if user.is_authenticated %}{{ user.first_name }}{% endif %}"
                                    placeholder="Ingresa tu(s) nombre(s)"
                                    required
                                    {% if user.is_authenticated %}readonly{% endif %}
                                >
                            </div>
                            <div class="col form-group">
                                <label for="">Apellidos <span class="text-danger">*</span></label>
                                <input 
                                    type="text" 
                                    name="last_name" 
                                    class="form-control"
                                    value="{% if user.is_authenticated %}{{ user.last_name}}{% endif %}"
                                    placeholder="Ingresa tus apellidos"
                                    required
                                    {% if user.is_authenticated %}readonly{% endif %}
                                >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="">Correo electrónico <span class="text-danger">*</span></label>
                                <input 
                                    type="email" 
                                    name="email" 
                                    class="form-control"
                                    value="{% if user.is_authenticated %}{{ user.email}}{% endif %}"
                                    placeholder="correo@dominio.com"
                                    required
                                    {% if user.is_authenticated %}readonly{% endif %}
                                >
                            </div>
                            <div class="col form-group">
                                <label for="">Teléfono <span class="text-danger">*</span></label>
                                <input 
                                    type="text" 
                                    name="phone" 
                                    class="form-control"
                                    value="{% if user.is_authenticated %}{{ user.phone_number}}{% endif %}"
                                    placeholder="634412997"
                                    required
                                    {% if user.is_authenticated %}readonly{% endif %}
                                >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="">Dirección <span class="text-danger">*</span></label>
                                <input 
                                    type="text" 
                                    name="address_line_1" 
                                    class="form-control" 
                                    value="{% if user_profile %} {{ user_profile.address_line_1}}{% endif %}"
                                    placeholder="Calle y número"
                                    {% if not user.is_authenticated or not user_profile.address_line_1 %}required{% else %}readonly{% endif %}
                                >
                            </div>
                            <div class="col form-group">
                                <label for="">Detalles de la Dirección <span class="text-danger">*</span></label>
                                <input 
                                    type="text" 
                                    name="address_line_2" 
                                    class="form-control"
                                    value="{% if user_profile %}{{ user_profile.address_line_2}}{% endif %}"
                                    placeholder="Apartamento, piso, etc."
                                    {% if not user.is_authenticated or not user_profile.address_line_2 %}required{% else %}readonly{% endif %}
                                >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="">País <span class="text-danger">*</span></label>
                                <input 
                                    type="text" 
                                    name="country" 
                                    class="form-control"
                                    value="{% if user_profile %}{{ user_profile.country}}{% endif %}"
                                    placeholder="España"
                                    {% if not user.is_authenticated or not user_profile.country %}required{% else %}readonly{% endif %}
                                >
                            </div>
                            <div class="col form-group">
                                <label for="">Ciudad <span class="text-danger">*</span></label>
                                <input 
                                    type="text" 
                                    name="city" 
                                    class="form-control"
                                    value="{% if user_profile %}{{ user_profile.city}}{% endif %}"
                                    placeholder="Madrid"
                                    {% if not user.is_authenticated or not user_profile.city %}required{% else %}readonly{% endif %}
                                >
                            </div>
                            <div class="col form-group">
                                <label for="">Cód. Postal <span class="text-danger">*</span></label>
                                <input 
                                    type="text"
                                    name="state" 
                                    class="form-control"
                                    value="{% if user_profile %}{{ user_profile.state}}{% endif %}"
                                    placeholder="28001"
                                    {% if not user.is_authenticated or not user_profile.state %}required{% else %}readonly{% endif %}
                                >
                            </div>
                        </div>
                        <p class="text-muted"><small><em>Los campos marcados con <span class="text-danger">*</span> son obligatorios</em></small></p>
                        <button type="submit" name="submit" class="btn btn-primary btn-block">Confirmar y Continuar</button>
                    </form>
                    
                </div>
            </div>
            <!-- ============================ FIN SECCIÓN CHECKOUT ================================= -->
        </aside>
        <aside class="col-lg-6">
            <!-- ============================ SECCIÓN DEL CARRITO ================================= -->
            <div class="card">
                <table class="table table-borderless table-shopping-cart">
                <thead class="text-muted">
                <tr class="small text-uppercase">
                    <th scope="col">Embarcación(es)</th>
                    <!--<th scope="col" width="120">Cantidad</th>-->
                    <th scope="col" width="120">Precio</th>
                    <th scope="col" class="text-right" width="200"> </th>
                </tr>
                </thead>
                <tbody>
                {% for cart_item in cart_items %}
                <tr>
                    <td>
                        <figure class="itemside align-items-center">
                            <div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
                            <figcaption class="info">
                                <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                <p class="text-muted small">
                                {% if cart_item.variation.all %}
                                    {% for item in cart_item.variation.all %}
                                        {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                                    {% endfor %}
                                {% endif %}
                                </p>
                            </figcaption>
                        </figure>
                    </td>
                    <!--
                    <td>
                        <div class="input-group input-spinner">
                            <div class="input-group-prepend">
                                <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}" class="btn btn-light" type="button"> <i class="fa fa-minus"></i> </a>
                            </div>
                            <input type="text" class="form-control" value="{{ cart_item.quantity }}">
                            <div class="input-group-append">
                                <form action="{% url 'add_cart' cart_item.product.id %}" method="post">
                                    {% csrf_token %}
                                    {% for item in cart_item.variation.all %}
                                        <input type="hidden" name="{{ item.variation_category | lower }}" value="{{ item.variation_value | capfirst }}">
                                    {% endfor %}
                                    <button class="btn btn-light" type="submit"> <i class="fa fa-plus"></i> </button>
                                </form>
                            </div>
                        </div>
                    </td>-->
                    <td>
                        <div class="price-wrap">
                            <var class="price">€{{ cart_item.sub_total }}</var>
                            <small class="text-muted"> {{ cart_item.product.price }}€/ud. </small>
                        </div>
                    </td>
                    <td class="text-right">
                        <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            <!-- ============================ FIN SECCIÓN DEL CARRITO ================================= -->
        </aside>
    </div>
    {% endif %}
    </div>
</section>
{% endblock %}
