{% extends 'base.html' %}

{% block content %}
{% if user.id is None or not user.is_admin %}
<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page">Nuestras embarcaciones</h2>


  </div> <!-- container //  -->
</section>



<section class="section-content padding-y">
  {% if messages %}
  <div class="alert alert-danger text-center mx-auto" style="max-width: 600px;">
      {% for message in messages %}
          <p>{{ message }}</p>
      {% endfor %}
  </div>
  {% endif %}
  <div class="container">

    <div class="row">
      <aside class="col-md-3">

        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Fechas</h6>
              </a>
            </header>
            <form method="GET" action="{% url 'store' %}">
              <div class="filter-content collapse show" id="collapse_2" style="">
                <div class="card-body">
                  <form method="GET" action="{% url 'store' %}">
                    <div class="form-group">
                      <label for="start_date">Fecha de Inicio</label>
                      <input type="date" class="form-control" id="start_date" name="start_date" value="{{ start_date|date:'Y-m-d' }}">
                    </div>
                    <div class="form-group">
                      <label for="end_date">Fecha de Fin</label>
                      <input type="date" class="form-control" id="end_date" name="end_date" value="{{ end_date|date:'Y-m-d' }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                  </form>
                </div> <!-- card-body.// -->
              </div>



          <article class="filter-group">


            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Puerto</h6>
              </a>
            </header>
            <form method="GET" action="{% url 'store' %}">
              <div class="filter-content collapse show" id="collapse_4" style="">
                <div class="card-body">
                  <ul class="list-menu">
                    {% for puerto in puertos %}
                    <li>
                      <label class="checkbox-btn">
                        <input type="checkbox" name="puerto" value="{{ puerto.nombre }}" 
                          {% if puerto.nombre in selected_puerto %}checked{% endif %}>
                          <span class="btn btn-light">{{ puerto.nombre }}</span>
                        {% endfor %}
                      </label>
                    </li>
                  </ul>
                </div>
        
              </div>

              <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                  <i class="icon-control fa fa-chevron-down"></i>
                  <h6 class="title">Categorias</h6>
                </a>
              </header>
                <div class="filter-content collapse show" id="collapse_1" style="">
                  <div class="card-body">
                    <ul class="list-menu">
                      {% for category in links %}
                      <li>
                        <label class="checkbox-btn">
                          <input type="checkbox" name="categoria" value="{{ category.slug }}" 
                          {% if category.slug in selected_category %}checked{% endif %}>
                          <span class="btn btn-light">{{ category.category_name}}</span>
                        </label>
                      </li>
                      {% endfor %}
                    </ul>
                  </div> <!-- card-body.// -->
                </div>

              <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="true" class="">
                  <i class="icon-control fa fa-chevron-down"></i>
                  <h6 class="title">Fabricante</h6>
                </a>
              </header>
              <div class="filter-content collapse show" id="collapse_5" style="">
                <div class="card-body">
                  <ul class="list-menu">
                    {% for fabricante in fabricantes %}
                    <li>
                      <label class="checkbox-btn">
                        <input type="checkbox" name="fabricante" value="{{ fabricante.nombre }}" 
                          {% if fabricante.nombre in selected_fabricante %}checked{% endif %}>
                        <span class="btn btn-light">{{ fabricante.nombre }} </span>
                        {% endfor %}
                      </label>
                    </li>
                  </ul>
                </div>
              </div>


              <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                  <i class="icon-control fa fa-chevron-down"></i>
                  <h6 class="title">Precios </h6>
                </a>
              </header>
              <div class="filter-content collapse show" id="collapse_3" style="">
                <div class="card-body">
  
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Precio Mínimo</label>
                      <!-- <input class="form-control" placeholder="0€" type="number"> -->
                      <select class="mr-2 form-control" name="min_price">
                        <option value="0" {% if request.GET.min_price == "0" %}selected{% endif %}>0€</option>
                        <option value="50" {% if request.GET.min_price == "50" %}selected{% endif %}>50€</option>
                        <option value="100" {% if request.GET.min_price == "100" %}selected{% endif %}>100€</option>
                        <option value="150" {% if request.GET.min_price == "150" %}selected{% endif %}>150€</option>
                        <option value="200" {% if request.GET.min_price == "200" %}selected{% endif %}>200€</option>
                        <option value="500" {% if request.GET.min_price == "500" %}selected{% endif %}>500€</option>
                        <option value="1000" {% if request.GET.min_price == "1000" %}selected{% endif %}>1000€</option>
                      </select>
                    </div>
                    <div class="form-group text-right col-md-6">
                      <label>Precio Máximo</label>
                      <select class="mr-2 form-control" name="max_price">
                        <option value="50" {% if request.GET.max_price == "50" %}selected{% endif %}>50€</option>
                        <option value="100" {% if request.GET.max_price == "100" %}selected{% endif %}>100€</option>
                        <option value="150" {% if request.GET.max_price == "150" %}selected{% endif %}>150€</option>
                        <option value="200" {% if request.GET.max_price == "200" %}selected{% endif %}>200€</option>
                        <option value="500" {% if request.GET.max_price == "500" %}selected{% endif %}>500€</option>
                        <option value="1000" {% if request.GET.max_price == "1000" %}selected{% endif %}>1000€</option>
                        <option value="2000" {% if request.GET.max_price == "2000" %}selected{% endif %}>2000€+</option>
                      </select>
                    </div>
                  </div> <!-- form-row.// -->
                </div><!-- card-body.// -->
              </div>
              

              <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_6" aria-expanded="true" class="">
                  <i class="icon-control fa fa-chevron-down"></i>
                  <h6 class="title">Capacidad</h6>
                </a>
              </header>
              <div class="filter-content collapse show" id="collapse_6" style="">
                <div class="filter-content collapse show" id="collapse_6" style="">
                  <div class="card-body">
                    <ul class="list-menu">
                      <li>
                        <label>
                          <input type="radio" name="capacidad" value="2" 
                            {% if capacidad == '2' %}checked{% endif %}>
                          2 personas (o más)
                        </label>
                      </li>
                      <li>
                        <label>
                          <input type="radio" name="capacidad" value="4" 
                            {% if capacidad == '4' %}checked{% endif %}>
                          4 personas (o más)
                        </label>
                      </li>
                      <li>
                        <label>
                          <input type="radio" name="capacidad" value="6" 
                            {% if capacidad == '6' %}checked{% endif %}>
                          6 personas (o más)
                        </label>
                      </li>
                      <li>
                        <label>
                          <input type="radio" name="capacidad" value="8" 
                            {% if capacidad == '8' %}checked{% endif %}>
                          8 personas (o más)
                        </label>
                      </li>
                      <li>
                        <label>
                          <input type="radio" name="capacidad" value="10" 
                            {% if capacidad == '10' %}checked{% endif %}>
                          10 personas (o más)
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
                
              </div>

              <div class="card-body text-center">
                <button type="submit" class="btn btn-primary">Filtrar</button>
                <a href="{% url 'store' %}" class="btn btn-secondary">Limpiar filtros</a>
              </div>
            </form>
          </article> <!-- filter-group .// -->

          <article class="filter-group">

          </article> <!-- filter-group .// -->

        </div> <!-- card.// -->

      </aside> <!-- col.// -->
      
      <main class="col-md-9">

        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            <span class="mr-md-auto"><b>{{ product_count }}</b> Embarcaciones encontrados </span>

          </div>
        </header><!-- sect-heading -->

        <div class="row">
          {% if products %}
          {% for product in products %}
          <div class="col-md-4">
              <figure class="card card-product-grid">
                  <div class="img-wrap">
                      <img src="{{ product.images.url }}">
                      {% if not product.is_available or not product.stock or product.id in unavailable_products %}
                      <div class="overlay">
                          <span class="badge badge-danger">No disponible</span>
                      </div>
                      {% endif %}
                  </div> <!-- img-wrap.// -->
                  <figcaption class="info-wrap">
                      <div class="fix-height">
                          <a 
                              {% if product.is_available and product.stock and not product.id in unavailable_products %}
                              href="{{ product.get_url }}" 
                              {% else %}
                              class="text-muted disabled-link"
                              {% endif %}
                              class="title">{{ product.product_name }}</a>
                          <div class="price-wrap mt-2">
                              <span class="price">{{ product.price }}€/día</span>
                          </div> <!-- price-wrap.// -->
                      </div>
                      <!-- Formulario para agregar cantidad -->
                      <form method="POST" action="{% url 'add_cart' product.id %}">
                          {% csrf_token %}
                          <div class="d-flex">
                              <input 
                                  type="number" 
                                  name="quantity" 
                                  class="form-control form-control-sm w-50 mr-2" 
                                  min="1" 
                                  max="{{ product.stock }}" 
                                  value="1" 
                                  {% if not product.is_available or not product.stock or product.id in unavailable_products %}disabled{% endif %}
                              >
                              <button 
                                  type="submit" 
                                  class="btn btn-block btn-success btn-sm"
                                  {% if not product.is_available or not product.stock or product.id in unavailable_products %}disabled{% endif %}
                              >
                                  {% if not product.is_available or not product.stock or product.id in unavailable_products %}No disponible{% else %}Agregar al Carrito{% endif %}
                                  
                              </button>
                          </div>
                      </form>
                  </figcaption>
              </figure>
          </div> <!-- col.// -->
          {% endfor %}
          {% else %}
          <div class="col-12 text-center text-muted">
              <h2>No se han encontrado resultados para tu búsqueda</h2>
          </div>
          {% endif %}
      </div>
      


        <nav class="mt-4" aria-label="Page navigation sample">

          {% if products.has_other_pages %}
          <ul class="pagination">
            {% if products.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Anterior</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
            {% endif %}

            {% for i in products.paginator.page_range %}
              {% if products.number == i %}
              <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
              {% endif %}
            {% endfor %}

            {% if products.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Siguiente</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
            {% endif %}
          </ul>
          {% endif %}

        </nav>

      </main> <!-- col.// -->
      {% endif %}
    </div>

  </div> <!-- container .//  -->
</section>
{% endblock %}
