{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="row">
      <aside class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Paso 3: Confirmación de tu Reserva</h4>
            <p class="text-muted">Revisa los detalles de tu reserva antes de finalizar.</p> 
            <hr>
            <!-- Resaltar el código de seguimiento -->
            <div class="card-body text-center">
              <p class="text-center text-muted" style="border: 2px solid #007bff; padding: 10px; border-radius: 5px;">
                Tu código de seguimiento: 
                <span class="text-primary"><strong>{{ order.order_note }}</strong></span>
              </p>
            </div> <!-- card.// -->
            <h5 class="text-primary mb-3" style="font-weight: bold;">Información del Cliente</h5>
            <ul style="list-style: none; padding: 0;">
              <li class="mb-2"><strong>Nombres y Apellidos:</strong> <span class="text-muted">{{ order.full_name }}</span></li>
              <li class="mb-2"><strong>Email de contacto:</strong> <span class="text-muted">{{ order.email }}</span></li>
              <li class="mb-2"><strong>Móvil:</strong> <span class="text-muted">{{ order.phone }}</span></li>
              <li class="mb-2"><strong>Dirección:</strong> <span class="text-muted">{{ order.full_address }}</span></li>
              <li class="mb-2"><strong>País:</strong> <span class="text-muted">{{ order.country }}</span></li>
              <li class="mb-2"><strong>Ciudad:</strong> <span class="text-muted">{{ order.city }}</span></li>
              <li class="mb-2"><strong>Cód. Postal:</strong> <span class="text-muted">{{ order.state }}</span></li> 
            </ul>
            <hr>
            <h5 class="text-primary mb-3" style="font-weight: bold;">Detalles de la reserva</h5>
            <table class="table table-borderless table-shopping-cart">
              <thead class="text-light bg-primary">
                <tr class="small text-uppercase text-center">
                  <th scope="col" style="width: 10%;">Embarcación</th>
                  <th scope="col" style="width: 50%;">Detalles</th>
                  <th scope="col" style="width: 15%;">Cantidad</th>
                  <th scope="col" style="width: 25%;">Precio</th>
                </tr>
              </thead>
              <tbody>
                {% for cart_item in cart_items %}
                <tr class="table-light">
                  <td class="text-center align-middle">
                    <img src="{{ cart_item.product.images.url }}" class="img-fluid rounded shadow-sm" style="width: 70px; height: 70px;">
                  </td>
                  <td class="align-middle">
                    <h6 class="mb-0">{{ cart_item.product.product_name }}</h6>
                    <p class="text-muted small mb-1">{{ cart_item.product.description }}</p>
                    <p class="text-muted small mb-0"><strong>Puerto:</strong> {{ cart_item.product.puerto }}</p>
                    <p class="text-muted small mb-0"><strong>Fabricante:</strong> {{ cart_item.product.fabricante }}</p>
                    <p class="text-muted small mb-0"><strong>Categoría:</strong> {{ cart_item.product.category_id }}</p>
                    <p class="text-muted small mb-0">
                      <i class="fa fa-calendar"></i> <strong>Fecha de Inicio:</strong> {{ cart_item.fecha_inicio|date:'d-m-Y' }}
                    </p>
                    <p class="text-muted small mb-0">
                        <i class="fa fa-calendar"></i> <strong>Fecha de Fin:</strong> {{ cart_item.fecha_fin|date:'d-m-Y' }}
                    </p>
                  </td>
                  <td class="text-center align-middle">
                    <span style="font-size: 1rem;">{{ cart_item.quantity }}</span>
                  </td>
                  <td class="text-right align-middle">
                    <strong class="text-success">{{ cart_item.sub_total }}€</strong>
                    <p class="text-muted small mb-0">{{ cart_item.product.price }}€/día</p>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          
          </div>
        </div> <!-- card.// -->
      </aside> <!-- col.// -->
      <aside class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Precio Total:</dt>
              <dd class="text-right text-muted">{{ total }}€</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Tasa combustible:
                  <i class="fa fa-info-circle tooltip-icon" style="color: yellowgreen;" data-toggle="tooltip" title="La tasa de combustible puede variar según la embarcación y la duración del alquiler."></i>
              </dt>
              <dd class="text-right text-muted">{{ extra_combustible }}€</dd>
            </dl>
            <dl class="dlist-align">
              <dt>
                  IVA (21%):
                  <i class="fa fa-info-circle tooltip-icon" style="color: yellowgreen;" data-toggle="tooltip" title="Impuesto del 21% sobre el precio base."></i>
              </dt>                                                        
              <dd class="text-right text-muted">{{ tax }}€</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-right"><strong>{{ grand_total }}€</strong></dd>
            </dl>               
            <div class="alert-info mt-3">
              <p class="text-center" style="font-size: 0.85rem; color: #ff4500;">
                  <strong>ATENCIÓN:</strong> En caso que desee cancelar la reserva no se devolverá el importe.
              </p>
          </div>
          
            <hr>
            <p class="text-center mb-3">
              <img src="{% static './images/misc/payments.png' %}" height="26">
            </p>
            <div id="paypal-button-container"></div>
            <hr>
            <p class="text-center text-muted">ó selecciona otra opción:</p>
            <a href="{% url 'mark_pending' order.id %}" class="btn btn-success btn-block"><i class="fa fa-check-circle" aria-hidden="true"></i> Reservar y pagar al momento de entrega</a>
          </div> <!-- card-body.// -->
        </div> <!-- card.// -->
      </aside> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- container.// -->
</section>

    <!-- ============================ COMPONENT 1 END .// ================================= -->
    <script>
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }

      const csrftoken = getCookie('csrftoken');
      const url = "{% url 'payments' order.order_number %}";
      var redirect_url = "{% url 'order_complete' %}"
      
      paypal.Buttons({
        createOrder: function (data, actions) {
          return actions.order.create({
            purchase_units: [{
              amount: { value: "{{ grand_total }}" }
            }]
          });
        },
        onApprove: function (data, actions) {
          return actions.order.capture().then(function (orderData) {
            fetch(url, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken
              },
              body: JSON.stringify({
                orderID: "{{ order.order_number }}",
                transID: orderData.id,
                payment_method: 'Paypal',
                status: 'Pagado',
                is_ordered: 1
              }),
            })
            .then(response => response.json())
            .then(data => {
              window.location.href = '/store/search/?keyword=&reservation=' + data.order_note;// + '&payment_id=' + data.transID;
              });
            });
          },
        }).render('#paypal-button-container');
    </script>
  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
 
 <style>
  .highlighted-date {
    font-weight: bold;
    color: #ffffff; /* Texto en blanco */
    background-color: #007bff; /* Fondo azul */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    display: inline-block; /* Asegura que el fondo se ajuste al contenido */
    margin: 5px 0; /* Espaciado entre fechas */
  }
</style>
{% endblock %}

<!-- <script>
  function getCookie(name){
    let cookieValue = null;
    if (document.cookie && document.cookie !== ''){
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++){
        const cookie = cookies[i].trim();
        if(cookie.substring(0,name.length + 1) === (name + '=')){
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  var amount = "{{ grand_total }}"
  var csrftoken = getCookie('csrftoken');
  var orderID = "{{ order.order_number }}"
  var url = "{% url 'payments' order.order_number %}"
  var payment_method = 'Paypal';
  var redirect_url = "{% url 'home' %}";
  var userAuth = "{{ user.is_authenticated }}"
  if (userAuth) {
    redirect_url = "/accounts/my_orders/"
  }
  paypal.Buttons({

      createOrder: function(data, actions){
        return actions.order.create({
            purchase_units: [{
                amount: {
                  value: amount
                }
            }]
        });
      },
      // Finalize the transaction on the server after payer approval
      onApprove: function(data, actions) {
          return actions.order.capture().then(function(orderData) {
              console.log(orderData);
              sendData();

              function sendData(){
                const modifiedStatus = "Pagado";
                const modifiedOrder = 1;
                fetch(url, {
                  method : "POST",
                  headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken" : csrftoken,
                  },
                  body: JSON.stringify({
                    orderID: orderID,
                    transID: orderData.id,
                    payment_method: payment_method,
                    status: modifiedStatus,
                    is_ordered: modifiedOrder
                  }),
                })
                .then((response) => response.json())
                .then((data) => {
                  window.location.href = redirect_url + '?order_number='+data.order_number+'&payment_id='+data.transID;
                });
              }
              window.location.href = redirect_url;
          });
      }
  }).render('#paypal-button-container');
 
</script> -->